body {
    background-image:;
    font-family: ;

}
h1 {
    color:;
    text-align:;
    font-size:;
    padding:;
}
h2 {
    color:;
    text-align:;
    font-size:;
    padding:;
}
p {
    color:;
    text-align:;
    font-size:;
    padding:;
    margin:;
}
a {
    displaly: ;
    color:;
    text-align:;
    font-size:;
    text-decoration: none;
}